html {
  scroll-behavior: smooth;
}

#about-me,
#projects,
#skills {
  scroll-behavior: smooth;
}

.jumbotron {
  border-radius: 0;
}

a:hover {
  text-decoration: none;
  color: #0000ff;
}

#profile-photo {
  width: 15%;
  max-width: 100%;
  border-radius: 50%;
}

.primary-color {
  background-color: rgb(42, 78, 94);
}

.secondary-color {
  background-color: #1e262e;
}

p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black !important;
}

.description {
  max-width: 500px;
  margin: auto;
}

.nav-item:hover {
  font-weight: bold;
  background-color: rgb(42, 78, 94);
  border-radius: 5px;
}

.btn-dark:hover,
.fab:hover {
  font-weight: bold;
}

.icon {
  margin-left: 25px;
}

.custom-title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(42, 78, 94);
}

.custom-subtitle {
  font-size: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.white-title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.white-text {
  color: white !important;
}

.jumbotron {
  margin-bottom: 0px;
}

.footer-text {
  margin: 0px;
  padding: 2px 0px;
}

.footer-text p {
  margin-bottom: 5px;
}

.card-img-top {
  height: 225px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #aaa;
}

#skills p {
  width: 75%;
  margin: auto;
  padding-top: 5px;
}

#skills li {
  font-size: 18px;
  list-style: none;
  margin: 0 15%;
  text-align: left;
}
